If([Version](Get-ItemPropertyValue -Path 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{23170F69-40C1-2702-2501-000001000000}','HKLM:\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\{23170F69-40C1-2702-2501-000001000000}' -Name DisplayVersion -ea SilentlyContinue) -ge '{{ latest_version }}') {
Write-Host "Installed"
Exit 0
}
else {
Exit 1
}
