---
# tasks file for win-keepass

- name: Repair
  include_tasks: repair.yml
  when: (deployment_type) == 'repair'
  tags: [repair]

- name: Uninstall
  include_tasks: uninstall.yml
  when: (deployment_type) == 'uninstall'
  tags: [uninstall]

- name: Create local package repository
  win_file:
    path: "{{ package_source_path }}"
    state: directory
  when: (deployment_type) == 'install'
  tags: [install]

- name: Install
  include_tasks: install.yml
  when: (deployment_type) == 'install'
  tags: [install]
