If([String](Get-Item -Path "$Env:ProgramFiles\WinSCP\WinSCP.exe","${Env:ProgramFiles(x86)}\WinSCP\WinSCP.exe" -ErrorAction SilentlyContinue).VersionInfo.FileVersion -ge "{{ latest_version }}") {
Write-Host "Installed"
Exit 0
}
else {
Exit 1
}