If([Version](Get-ItemPropertyValue -Path 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\HandBrake','HKLM:\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\HandBrake' -Name DisplayVersion -ea SilentlyContinue) -ge '{{ latest_version }}') {
Write-Host "Installed"
Exit 0
}
else {
Exit 1
}