# Put her your installation detection script

for example the installation detection script from 7zip:

```powershell
If([Version](Get-ItemPropertyValue -Path 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\7-Zip','HKLM:\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\7-Zip' -Name DisplayVersion -ea SilentlyContinue) -ge '{{ latest_version }}') {
Write-Host "Installed"
Exit 0
}
else {
Exit 1
}
```


