If([String](Get-Item -Path "$Env:ProgramFiles\Adobe\Acrobat DC\Acrobat\Acrobat.exe","${Env:ProgramFiles(x86)}\Adobe\Acrobat DC\Acrobat\Acrobat.exe" -ErrorAction SilentlyContinue).VersionInfo.FileVersion -ge "25.1.20756.0"){
Write-Host "Installed"
Exit 0
}
else {
Exit 1
}